@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700;900&display=swap");

@font-face {
  font-family: Kitab;
  font-display: block;
  src: url(https://fonts.nuqayah.com/kitab-base.woff2?v2);
  unicode-range: U+0600-06FF;
}
@font-face {
  font-family: Kitab;
  font-display: block;
  src: url(https://fonts.nuqayah.com/kitab-base-b.woff2?v2);
  font-weight: 700;
  unicode-range: U+06-00, U+06-FF;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v2);
  unicode-range: U+06-00, U+06-FF;
}
@font-face {
  font-family: Kitab;
  src: url(https://fonts.nuqayah.com/kitab-phrases.woff2?v2);
  font-weight: 700;
  unicode-range: U+06-00, U+06-FF;
}

$body-font-family: "Kitab","Cairo", serif;
